.item {
    position: absolute;
    margin: 10px;
    padding: 10px;
    border: 1px solid #DFDFDF;
    width: 258px;
    transition: all 1s;
}

.img-ct {
    display: block;
}

.img-ct img {
    width: 258px;
    vertical-align: middle;
}

h4 {
    margin: 10px 3px;
    height: 25px;
    border-bottom: 1px solid #DFDFDF;
}

.brief {
    margin: 0 5px;
    color: #333;
    font-size: 12px;
}